* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: black;
}

.mobile-text {
  display: none;
}

.text {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.text p {
  text-align: center;
  color: white;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  width: 100vw;
  background: black;
  z-index: 20;
  flex-wrap: wrap;
}

.dots-right {
  display: flex;
  flex: 3;
  justify-content: left;
}

.dots-left {
  display: flex;
  flex: 3;
  justify-content: right;
}

.dots-left img {
  margin: 0rem 1.5rem;
  pointer-events: all;
  cursor: pointer;
}

.dots-right img {
  margin: 0rem 1.5rem;
  pointer-events: all;
  cursor: pointer;
}

canvas {
  z-index: -20;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 778px) {
  .text {
    display: none;
  }
  .mobile-text {
    height: 10vh;
    width: 100vw;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    align-items: flex-end;
  }
  .mobile-text p {
    text-align: center;
    color: white;
  }
}
