* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: black;
  font-family: "Rokkitt", serif;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  height: 40vh;
  width: 100vw;
}

#logo {
  position: absolute;
  padding-right: 2rem;
}

.buttons {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2.5rem;
}

.buttons button {
  font-family: "Rokkitt", serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding: 1rem 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
}

.buttons a {
  margin: 0rem 4.5rem;
  margin-top: 8rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  width: 95%;
  margin: auto;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 45%;
  }
  .logo {
    height: 41vh;
  }
  #logo {
    height: 18%;
    width: auto;
  }
}

@media screen and (max-width: 660px) {
  footer {
    justify-content: center;
    width: 100%;
  }
  footer h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 40%;
  }
  #logo {
    height: 18%;
    width: auto;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 35%;
  }
  #logo {
    height: 18%;
    width: auto;
  }
}
