* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(45deg, rgb(120, 203, 206), rgb(70, 76, 153));
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

iframe {
  margin-top: 4rem;
}

.header {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  color: whitesmoke;
  font-size: 4rem;
}

@media screen and (max-width: 487px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 40%;
  }
  .header {
    margin-top: 8rem;
  }
}
