* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rokkitt", serif;
  background: black;
  overflow: hidden;
}

body {
  /* background: url(img/lv-3-bg.png); */
  animation: opening 1.7s ease-in-out forwards;
  height: 100vh;
  width: 100%;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -10;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main img {
  margin-right: 0rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

form input {
  padding: 1rem 0rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 20rem;
  border-radius: 30px;
}

form input:focus {
  outline-style: none;
}

form input[placeholder] {
  font-family: "Rokkitt", serif;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

/* Media Queries */

.mobile {
  display: none;
}

@media screen and (max-width: 591px) {
  .desk {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .main {
    height: 70vh;
  }
}

@media screen and (max-width: 489px) {
  .main {
    height: 65vh;
  }
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 450px) {
  .main {
    height: 60vh;
  }
}

@media screen and (max-width: 414px) {
  .main {
    height: 55vh;
  }
}

@media screen and (max-width: 407px) {
  .main {
    height: 55vh;
  }
}

@media screen and (max-width: 365px) {
  .main {
    height: 50vh;
  }
  html {
    font-size: 45%;
  }
}
