:root {
  --text-gray: #666c7e;
  --soft-black: rgb(51, 51, 66);
  --clear: rgba(255, 255, 255, 0);
  --text-twitter-grayblue: #475ea3;
  --brand-green: #39c6a0;
  --brand-green-hover: #28856c;
  /* Button colors */
  --hashnode: #2e65f6;
  --projects: #2a5926;
  --bookshelf: #6e4a7e;
  /* divider line */
  --line-color: #e4e8f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 2.4rem;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.4rem;
  color: var(--soft-black);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--soft-black);
}

li {
  font-size: 1.4rem;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-twitter-grayblue);
}

/* Background splash image */
.header-bg {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: url(https://adamdavisdeveloper.com/profile/img/bg-one.jpg);
  background-position: center;
}

/* Nav */
nav {
  height: 15vh;
  padding: 1.4rem 1.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-logo a {
  cursor: pointer;
}

.nav-contact {
  padding: 1.8rem 6.4rem;
  border: none;
  background: var(--brand-green);
  color: white;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.nav-contact:hover {
  background: var(--brand-green-hover);
}

.justify-content-space-between {
  margin-top: 1.5rem;
}

.justify-content-space-between img {
  width: 10%;
  margin-left: 0.5rem;
}

/* main card header */
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
  padding: 2rem;
  word-wrap: break-word;
  border-radius: 1rem;
}

.h1-flex {
  display: inline-flex;
  align-items: center;
  font-weight: 100;
}

.header-top {
  width: 100%;
}

.header-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: var(--text-gray);
  height: auto;
  font-weight: 300;
}

.list-item {
  color: var(--text-gray);
}

.twitter-link {
  cursor: pointer;
}

.list-item::after {
  content: " \00b7";
  display: inline-flex;
  margin: 0 0.375rem;
}

/* Profile info - about me */
.profile-info {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-gray);
}

/* Site Redirect Buttons */
.buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.buttons button {
  color: var(--soft-black);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clear);
  margin-right: 1rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1.3px solid #d0d3db;
  font-size: 1.4rem;
  cursor: pointer;
}

.buttons button:hover {
  background: rgb(216, 218, 230);
}

.hashnode:hover {
  color: var(--hashnode);
}

.projects:hover {
  color: var(--projects);
}

.bookshelf:hover {
  color: var(--bookshelf);
}

button img {
  margin-right: 1rem;
}

/* Positions */
.positions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-gray);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  width: 100%;
}
.positions-item {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 100%;
  padding: 1.5rem 0;
  color: var(--soft-black);
}

.positions-item img {
  width: 13%;
}

.positions-info {
  display: flex;
  flex-direction: column;
}
.positions-info h4 {
  font-size: 1.4rem;
}

.positions-info ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--text-gray);
}

/* Social Links */
.social-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem 0rem;
}

.links-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.links-container a {
  margin-right: 1.5rem;
  padding: 0.5rem 1rem;
}

.fab {
  color: var(--text-gray);
}

/* Timeline */
.timeline-column {
  width: 45%;
  margin: auto;
}

.timeline-year {
  width: 50%;
  padding: 2rem 2rem;
}

.timeline-card {
  position: relative;
  width: 80%;
  border-left: 1px solid #e4e8f1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
}
/* .timeline-card::before {
  content: "";
  display: block;
  background: url("./img/clock.svg") no-repeat;
  width: 3rem;
  height: 3rem;
  float: left;
  position: absolute;
  left: -0.75rem;
  top: -0.125rem;
} */

#Clock {
  max-width: 20px;
  color: rgb(207, 207, 221);
}

/* Special Styles */
.hide {
  display: none;
}

.line {
  background: var(--line-color);
  height: 1.5px;
  width: 95%;
  margin: auto;
}

#ReadMore {
  font-weight: 600;
  cursor: pointer;
  color: var(--soft-black);
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .card-header {
    width: 50%;
  }
  .header-bg {
    background-position: initial;
  }
}

@media screen and (max-width: 800px) {
  .timeline-column {
    width: 75%;
  }
}

@media screen and (max-width: 470px) {
  .justify-content-space-between img {
    width: 20%;
  }
}

@media screen and (max-width: 575px) {
  .card-header,
  .timeline-year {
    width: 100%;
  }
  .timeline-column {
    width: 90%;
  }
}

@media screen and (max-width: 413px) {
  .profile-info {
    line-height: 2.2rem;
  }
  .positions {
    line-height: initial;
  }
  .positions-info ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .positions-item img {
    width: 22%;
  }
}
