:root {
  --text-gray: #666c7e;
  --soft-black: rgb(46, 46, 46);
  --text-twitter-grayblue: #475ea3;
  --brand-green: #39c6a0;
  --brand-green-hover: #28856c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 2.4rem;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.4rem;
  color: var(--soft-black);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--soft-black);
}

li {
  font-size: 1.4rem;
}
ul {
  list-style: none;
}

/* Background splash image */
.header-bg {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: url(https://adamdavisdeveloper.com/profile/img/bg-one.jpg);
}

/* Nav */
nav {
  height: 15vh;
  padding: 1.4rem 1.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-contact {
  padding: 1.8rem 6.4rem;
  border: none;
  background: var(--brand-green);
  color: white;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.nav-contact:hover {
  background: var(--brand-green-hover);
}

.justify-content-space-between img {
  width: 15%;
}

/* main card header */
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
  padding: 2rem;
  word-wrap: break-word;
  border-radius: 1rem;
}

.h1-flex {
  display: inline-flex;
  align-items: center;
  font-weight: 100;
}

.header-top {
  width: 100%;
}

.header-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: var(--text-gray);
  height: auto;
  font-weight: 300;
}

.list-item {
  color: var(--text-gray);
}

.twitter-link {
  cursor: pointer;
  color: var(--text-twitter-grayblue);
}

.list-item::after {
  content: " \00b7";
  display: inline-flex;
  margin: 0 0.375rem;
}

/* Profile info - about me */
.profile-info {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-gray);
}

/* Positions */
.positions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-gray);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 3rem;
  width: 100%;
}
.positions-item {
  display: flex;
  align-items: center;
  height: auto;
  max-width: 100%;
  padding: 2.5rem 0;
  color: var(--soft-black);
}

.positions-item img {
  width: 20%;
}

.positions-info {
  display: flex;
  flex-direction: column;
}
.positions-info h4 {
  font-size: 1.4rem;
}

.positions-info ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--text-gray);
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .card-header {
    width: 50%;
  }
}

@media screen and (max-width: 413px) {
  .positions {
    line-height: initial;
  }
  .positions-info ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .positions-item img {
    width: 25%;
  }
}
