:root {
  --text-gray: #666c7e;
  --text-twitter-grayblue: #4f5a7c;
  --brand-green: #39c6a0;
  --brand-green-hover: #28856c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5rem;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

li {
  font-size: 1.4rem;
}

/* Background splash image */
.header-bg {
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* Nav */
nav {
  height: 15vh;
  padding: 1.4rem 1.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-contact {
  padding: 1.8rem 6.4rem;
  border: none;
  background: var(--brand-green);
  color: white;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.nav-contact:hover {
  background: var(--brand-green-hover);
}

.justify-content-space-between img {
  width: 18%;
}

/* main card header */
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 80%;
  margin: auto;
  padding: 2rem;
  word-wrap: break-word;
  border-radius: 1rem;
}

.h1-flex {
  display: inline-flex;
  align-items: center;
}

.header-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: var(--text-gray);
  height: auto;
  margin-top: 1rem;
}

.list-item {
  color: var(--text-gray);
}

.twitter-link {
  cursor: pointer;
  color: var(--text-twitter-grayblue);
}

.list-item::after {
  content: " \00b7";
  display: inline-flex;
  margin: 0 0.375rem;
}

/* Profile info - about me */
.profile-info {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: var(--text-gray);
  width: 100%;
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .card-header {
    width: 50%;
  }
}
