* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rokkitt", serif;
  background: black;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
}

.main {
  position: absolute;
  height: 80vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.main h1 {
  font-size: 6.4rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  margin-bottom: 3rem;
}

.main p {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-align: center;
  width: 50%;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  height: 30vh;
  width: 100%;
}

.logo img {
  height: 50%;
  width: auto;
  margin-left: 2rem;
  margin-top: 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10rem;
  width: 95%;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 804px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .main p {
    width: 70%;
  }
}

@media screen and (max-width: 526px) {
  .main p {
    width: 90%;
  }
}

@media screen and (max-width: 410px) {
  .main p {
    width: 97%;
  }
}
