.return-btn {
  color: white;
  border-radius: 2rem;
  border: none;
  margin-top: 4rem;
  padding: 2rem 4rem;
  background: #154353;
  box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.1),
    0px 20px 20px rgba($color: #000000, $alpha: 0.1);
  &:hover {
    background: #42849b;
  }
}
